<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Product Name="Utility Documents" Manufacturer="herotux" Version="1.0.0.0" UpgradeCode="c98c2bbc-0bcc-4cc1-8e88-c0acdf806542">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="UtilityDocuments" Level="1">
      <ComponentRef Id="MainExeComponent" />
      <ComponentRef Id="AllOtherFilesComponent" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Product>

  <!-- مسیر نصب فایل‌ها -->
  <Fragment>
    <Directory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="UtilityDocuments" />
    </Directory>
    <Directory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="UtilityDocuments" />
    </Directory>
  </Fragment>

  <!-- Component اصلی: exe -->
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainExeComponent" Guid="*">
        <File Id="UtilityDocumentsExe" Source="$(var.SourceDir)\UtilityDocuments.exe" KeyPath="yes" />
      </Component>

      <!-- سایر فایل‌ها -->
      <Component Id="AllOtherFilesComponent" Guid="*">
        <File Id="PlaceholderHtmlFile" Source="$(var.SourceDir)\placeholder.html" KeyPath="no" />
        <File Id="AppIconFile" Source="$(var.SourceDir)\icon.ico" KeyPath="no" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <!-- Component شورتکات -->
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Utility Documents"
                  Description="Utility Documents Application"
                  Target="[#UtilityDocumentsExe]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\herotux\UtilityDocuments" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
